/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2014, 11:17:18 PM
    Author     : localadm
*/
html {
    margin: 0;
}
body{
    
}
.wraper {
border: 2px solid red;
height: 500px;
left: 200px;
top: 35px;
width: 667px;
}
button {
position: fixed;
right: 20px;
top: 20px;    
}